<%if (info && info.type && info.message) {%>
<div class="notif" style="position: fixed;
    bottom: 15px;
    right: 20px;">
    <%if (info.type === 'info') {%>
    <div class="alert alert-success" role="alert" style="padding: 10px 20px;
    background-color: rgba(0, 255, 44, 0.6);
    border-radius: 5px;max-width: 400px;">
        <%= info.message %>
    </div>
    <%} else if (info.type === 'warn') {%>
    <div class="alert alert-danger" role="alert" style="padding: 10px 20px;
    background-color: rgba(255, 101, 5, 0.6);
    border-radius: 5px;max-width: 400px;">
        <%= info.message %>
    </div>
    <%}%>
    </div>
<%}%>