<nav class="navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Express.js template</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Домашняя <span class="sr-only">(current)</span></a>
            </li>
            <%if (user && user.role === 2) {%>
            <%- partial('./nav_admin')%>
            <%}%>
        </ul>
        <a style="margin-right: 10px;" href="/notifications">Уведомления|<%= user.notifications.length %></a>
       <a href="/logout">Выйти</a>
    </div>
</nav>

<%if (user.message) {%>
    <h4 class="text-center" style="color: orange;"><%= user.message %></h4>
<%}%>
