<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Админменю
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/admin/users">Пользователи</a>
        <a class="dropdown-item" href="/admin/authorizations">Авторизации</a>
        <a class="dropdown-item" href="/admin/systems">Система</a>
        <a class="dropdown-item" href="/admin/notifications">Уведомления</a>
        <a class="dropdown-item" href="/admin/mass-notifications">Массовая рассылка уведомлений</a>
    </div>
</li>