<% layout('../layouts/main') -%>
<%-partial('../partials/messages')%>

<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Слишком много запросов на сервер</h1>
          <hr>
          <p class="lead">Вы делаете очень много, либо очень часто запросы на сервер.</p>
        </div>
      </div>
</div>