<% layout('../layouts/main') -%>
<%-partial('../partials/messages')%>

<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Страница не найдена</h1>
          <p class="lead">Проверьте введеного адреса.</p>
        </div>
      </div>
</div>