<% layout('../layouts/main') -%>

<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">На сайте ведуться технические работы</h1>
          <hr>
          <p class="lead"><%= message %></p>
        </div>
      </div>
</div>